<%# ===========================
  マイページのメニュー
=========================== %>
<div class="wrapper">
  <div class="main">
    <div class="mypage-wrapper">
      <%= render 'shared/mypage_menu', model: @user %>

<%# ===========================
  マイページのメイン画面
=========================== %>
      <div class="mypage-mainside">
        
      </div>

    </div>
  </div>
</div>