.title{
  font-family: 'Sacramento', cursive;
  height: 60px;
  width: 100vw;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.pagetitle{
  margin-bottom: 50px;
}