.wrapper{
  display: flex;
}

.main-side{
  width: calc(100vw - 150px);
  padding: 10px 50px 10px 10px;
}

.submit{
  text-align: center;
}

.submit-text{
  text-align: center;
  width: 100px;
  background-color: white;
  text-align: center;
  border: 1px solid #a58f86;
  border-radius: 20px;
  font-size: 13px;
  color: #805b4d;
  text-decoration: none;
  padding: 10px;
  margin: 0px 0px 30px 0px;
}