<%# ===========================
  ヘッダー表示
=========================== %>
<%= render "shared/header" %>


<%# ===========================
  投稿一覧
=========================== %>
<div class="wrapper">
  <div class="main-side">
    <div class="meal-picrure">
      <% @posts_by_date.sort_by { |date, _| date }.reverse_each do |date, posts| %>
      <div class="mypage-data"><%= date.strftime("%Y/%m/%d") %></div>
        <% posts.reverse_each do |post| %>
          <%= link_to post_path(post.id) do %><%= image_tag post.image, class: "post-picture" %><% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>