<%= render "shared/header" %>

<div class="wrapper">
<%# ===========================
  メニュー
=========================== %>
<%= render "shared/menu-side" %>

<%# ===========================
  投稿一覧
=========================== %>
  <div class="main-side">

    <div class="meal-picrure">
      <% @posts.reverse_each do |post| %>
        <%= link_to post_path(post.id) do %><%= image_tag post.image, class: "post-picture" %><% end %>
      <% end %>
    </div>
  </div>

</div>