<div class="menu-side">
<%# ログインしていない場合表示 %>
<div class="menu-list">
  <%= link_to 'ログイン', new_user_session_path, class: "menu-list" %>
</div>
<div class="menu-list">
  <%= link_to '新規登録', new_user_registration_path, class: "menu-list" %>
</div>

<%# ログインしている場合表示 %>
<div class="menu-list">
  <%= link_to '投稿する', new_post_path, class: "menu-list" %>
</div>
<div class="menu-list">マイページ</div>
<div class="menu-list">みんなの投稿</div>
<div class="menu-list">ログアウト</div>

</div>