<div class="menu-side">
<%# ログインしていない場合表示 %>
<div class="menu-list">ログイン</div>
<div class="menu-list">新規登録</div>

<%# ログインしている場合表示 %>
<div class="menu-list">投稿する</div>
<div class="menu-list">マイページ</div>
<div class="menu-list">みんなの投稿</div>
<div class="menu-list">ログアウト</div>

</div>