<div class="mypage-menuside">
  <div class="mypage-nickname"><%= @user.nickname %></div>
  <div class="mypage-bio"><%= @user.bio %></div>
  <div class="mypage-lists">
    <%= link_to 'お気に入り', favorites_path, class: "mypage-list" %>
  </div>
</div>