<%# ===========================
  マイページのメニュー
=========================== %>
<div class="wrapper">
  <div class="main">
    <div class="mypage-wrapper">
      <%= render 'shared/mypage_menu', user: @user %>

<%# ===========================
  マイページのメイン画面
=========================== %>
      <div class="mypage-mainside">
        <div class="pagetitle"><%= @title %></div>
          <% @users.each do |user| %>
            <p class="follow-list"><%= link_to user.nickname, user_path(user.id) %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>