<%= render "shared/header" %>

<div class="wrapper">
<%# ===========================
  メニュー
=========================== %>
<%= render "shared/menu-side" %>

<%# ===========================
  投稿一覧
=========================== %>
<div class="main-side">
  <div class="main">
    <div class="meal-time">
      <div class="meal-time-list">すべて</div>
      <div class="meal-time-list">あさごはん</div>
      <div class="meal-time-list">ひるごはん</div>
      <div class="meal-time-list">よるごはん</div>
    </div>
  </div>
</div>

</div>