.follow-lists{
  margin: 0 0 10px 10px;
}

.follow-list{
  font-size: 15px;
  color: black;
  text-decoration: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~
  スマートフォン表示
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 599px) {
  
  .follow-list{
    font-size: 10px;
  }
    

}