#post-image{
  margin-bottom: 20px;
  font-size: 13px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~
  スマートフォン表示
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 599px) {
  
  #post-image{
    font-size: 10px;
  }

}